
div{
	padding-top: 5em;
	font-family: 'Open Sans', sans-serif;
}

form{
	padding-top: 3em;
	font-family: 'Open Sans', sans-serif;
	height: 28em;
}

#table{
	margin-left: auto;
	margin-right: auto;
}

#invia{
	margin: 2em;
	background: #eef4f2;
	color: black;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}

#reset{
	margin: 2em;
	background: #eef4f2;
	color: black;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}

#img1{
	width: 50px;
	height: 40px;
}

#img2{
	width: 50px;
	height: 40px;
}

#img3{
	width: 50px;
	height: 40px;
}

#img4{
	width: 50px;
	height: 40px;
}

#dot{
	width: 10px;
	height: 10px;
}





