#select{
	width: 200px;
}

form{
	padding-top: 3em;
	font-family: 'Open Sans', sans-serif;
	height: 28em;
}

#t{
	padding-left: 30em;
}

#shop{
    padding-top: 0.3em;
	width: 30px;
	height: 30px;
}

#invia{
	position: center;
	background: #eef4f2;
	border-radius: 5px 5px 5px 5px;
}

#separator{
	height: 5em;
}

#invia{
	margin: 2em;
	background: #eef4f2;
	color: black;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}
