
footer{
	width: 100%;
    bottom: 0;
    text-align: center;
    height: 50px;
	padding: 5px 0px;
}

#push{
	height: 80px;
}

#paypal {
	width: 100px;
	padding-bottom: 0.5em;
}

#mastercard{
	width: 200px;
}

#visa{
	width: 100px;
}

