
/* Stili di base per oscuramento della finestra   */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* livello di oscuramento  */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* posizionamento fisso */
    cursor: default; /* tipo del cursore */
}
/* attivare livello di oscuramento */
.overlay:target {
    display: block;
}
/* stili di finestre pop-up */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 700px;
/* posizionamento fisso allo scorrimento della pagina  */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
/* arrotondamento dei angoli  */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 16px 'Tahoma', Arial, sans-serif;
/* ombra esetrna */
        box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
       transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}
/* attivare finestra modale*/
.overlay:target+.popup {
    transform: translate(-50%, -15%);
    top: 20%;
}
/* formare il bottone di chiusura  */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: rgba(150, 150, 150, 0.8);
    box-shadow: 0px 0px 10px #000;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    transition: all ease .8s;
}
.close:before {
	padding-top: 0.5em;
    color: rgba(255, 255, 255, 0.9);
    content: url("../immagini/close_popUp.png");
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 255, 255, 0.8);
	color: black;
    transform: rotate(360deg);    
}

/* paragrafi*/
.popup p {
	margin: 0; 
	padding: 5px 0;
}
