
div{
	padding-top: 5em;
	font-family: 'Open Sans', sans-serif;
}

#form{
	margin: 0 auto;
	position: relative;

}

#table{
	padding-left: 40em;
}

#invia{
	margin: 2em;
	background: #eef4f2;
	color: black;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}

#reset{
	margin: 2em;
	background: #eef4f2;
	color: black;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}

#corsair{
	width: 50px;
	height: 40px;
}

#ballistix{
	width: 50px;
	height: 40px;
}

#hx{
	width: 50px;
	height: 40px;
}

#adata{
	width: 50px;
	height: 40px;
}





