
body {
	background:	#233656;
	color: #cdd6d5;
	margin: 1em;
}

#t1{
	background: #7b9ba6;
	border-radius: 10px 10px 0px 0px;
	padding-left: 38em;
}

td{
	text-align: center; 
}

#header1{
	background: #7b9ba6;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}
/*
ul.navbar{
	width: 9em;
	list-style-type: none;
	padding: 1em;
	margin: 0;
}

ul.navbar li{
	background: #3441FF;
	font-weight: bold;
	color: white;
	padding: 1em;	
	padding-top: 1em;
	border-radius: 10px 10px 10px 10px;
}

ul.navbar a{
	text-decoration: none;
}
*/

a:link {
	color: #cdd6d5;
}
	
a:visited {
	color: #cdd6d5;
}

address {
	margin-top: 1em;
	padding-top: 1em;
}

/*img {
	width: 300px;
	height: 200px;
	padding-top: 5em;
	padding-left: 4em;
}*/

div{
	background: #7b9ba6;
	padding-left: 10em;
	border-radius: 0px 0px 10px 10px;
}

#t2{
	background: #7b9ba6;
	border-radius: 0px 0px 10px 10px;
	padding-left: 15em;
}

	

